# Node & Dependencies
node_modules/
dist/
.env

# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Database
Main App/data.db
server/data.db

# Logs
*.log

